---
- name: "PRELIM | AUDIT | Set default values for facts"
  ansible.builtin.set_fact:
      control_1_6_1_4_was_run: false
      ubtu22cis_apparmor_enforce_only: false
  changed_when: false

- name: "PRELIM | AUDIT | Register if snap being used"
  ansible.builtin.shell: df -h | grep -wc "/snap"
  changed_when: false
  failed_when: snap_pkg_mgr.rc not in [ 0, 1 ]
  register: snap_pkg_mgr
  tags:
      - rule_1.1.1.2
      - always
  when:
      - ubtu22cis_rule_1_1_1_2

- name: "PRELIM | AUDIT | Register if squashfs is built into the kernel"
  ansible.builtin.shell: cat /lib/modules/$(uname -r)/modules.builtin | grep  -c "squashfs"
  changed_when: false
  failed_when: squashfs_builtin.rc not in [ 0, 1 ]
  register: squashfs_builtin
  tags:
      - rule_1.1.1.2
      - always
  when:
      - ubtu22cis_rule_1_1_1_2


- name: "PRELIM | AUDIT | Check for avahi-daemon service"
  ansible.builtin.shell: "systemctl show avahi-daemon | grep LoadState | cut -d = -f 2"
  register: avahi_service_status
  changed_when: false
  check_mode: false
  when:
      - ubtu22cis_rule_2_2_2
  tags:
      - skip_ansible_lint
      - always


- name: "PRELIM | PATCH | Run apt update"
  ansible.builtin.package:
      update_cache: true
  when:
      - ubtu22cis_rule_1_3_1 or
        ubtu22cis_rule_1_9
  tags:
      - always

- name: "PRELIM | PATCH | Install Network-Manager"
  ansible.builtin.package:
      name: network-manager
      state: present
  when:
      - ubtu22cis_rule_3_1_2
      - ubtu22cis_install_network_manager
      - not system_is_container
      - "'network-manager' not in ansible_facts.packages"
  tags:
      - always

- name: "PRELIM | PATCH | Ensure auditd is installed"
  block:
      - name: "PRELIM | PATCH | Ensure auditd is installed"
        ansible.builtin.package:
            name: ['auditd', 'audispd-plugins']
            state: present
        when:
            - "'auditd' not in ansible_facts.packages or
              'auditd-plugins' not in ansible_facts.packages"

      - name: "PRELIM | AUDIT | Audit conf and rules files | list files"
        ansible.builtin.find:
            path: /etc/audit/
            file_type: file
            recurse: true
            patterns: '*.conf,*.rules'
        register: auditd_conf_files

  when:
      - ubtu22cis_rule_4_1_1_1 or
        ubtu22cis_rule_4_1_4_5 or
        ubtu22cis_rule_4_1_4_6 or
        ubtu22cis_rule_4_1_4_7
  tags:
      - level2-server
      - level2-workstation
      - patch
      - auditd
      - always

- name: "PRELIM | AUDIT | Check if auditd is immutable before changes"
  ansible.builtin.shell: auditctl -l | grep -c '-e 2'
  changed_when: false
  failed_when: auditd_immutable_check.rc not in [ 0, 1 ]
  register: auditd_immutable_check
  when: "'auditd' in ansible_facts.packages"
  tags:
      - always




- name: "PRELIM | AUDIT | List users accounts"
  ansible.builtin.shell: "awk -F: '{print $1}' /etc/passwd"
  changed_when: false
  check_mode: false
  register: ubtu22cis_users
  tags:
      - always

## Optional

- name: "Optional | PATCH | UFW firewall force to use /etc/sysctl.conf settings"
  ansible.builtin.lineinfile:
      path: /etc/default/ufw
      regexp: ^IPT_SYSCTL=.*
      line: IPT_SYSCTL=/etc/sysctl.conf
  when:
      - ubtu22cis_firewall_package == "ufw"
      - ubtu22cis_ufw_use_sysctl
  tags:
      - always